@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

/*FONT*/
@font-face {
font-family: "FocusGrotesk";
src: url("../font/FocusGrotesk-Bold.ttf");
}

@font-face {
font-family: "Rubik";
src: url("../font/Rubik-VariableFont_wght.otf");
}
/**/

body{
    /*overflow-x: hidden;*/
    background: rgb(6,250,208);
    background: linear-gradient(0deg, #006CA1 0%, #90B5E1 100%);
    min-height: 100vh;
}

.section1 li{
    list-style: none;

}

.get_started{
    height: 300px;
    position: absolute;
    border: #fff solid 2px;
    top: 65%;
    right: 19%;
    transform: translate(-10%, -90%);
    border-radius: 14px;
    width: 700px;
}
.video_{
    height: 300px;
    position: absolute;
}


#sec1{
    position: absolute;
    height: 90px;
    top: 30px;
    right: 1306px;
}

#sec2{
    position: absolute;
    height: 500px;
    top: 0px;
    right: 0px;
}
#sec3{
    position: absolute;
    height: 300px;
    top: 65px;
    right: 800px;
}
#sec4{
    position: absolute;
    height: 300px;
    top: 65;
    left: 15%;
}
.btn-suscribe-2{
    padding: 16px 36px;
    background:linear-gradient(90deg, #94C121 0%,#94C121 37%, #09A03A 100%); ;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    scroll-margin-top: 100px;
    top: 78%;
    right: 45%;
}

.btn-suscribe-2  a{
    text-decoration: none;
    color: #fff;
}



.services{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    background: rgba(255, 255, 255, 0.493);

}
.Servies{
    padding: 100px 0px;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.548);
}

.Servies h1{
    color: #09A03A;
    font-size: 50px;

}


.services_items{
    padding: 21px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    position: relative;

}
.services_items p{
    padding: 0px;

}

.service{
    padding: 10px 100px;
    justify-content: center;
    justify-items: center;
}
.service p{
    margin-top: 25px;
    text-justify: newspaper;
    
}
.service_image{
    margin-top: 50px;
    height: 100px;
    color: #09A03A;
}

.about_us{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0px;
    min-height: 90vh;
    background: rgba(255, 255, 255, 0.548);
    

}
.about{
    padding: 10px 100px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    position: relative;
}

.about_us h1{
    color: #09A03A;
    font-size: 50px;
    
}

.image_digodo{
    height: 350px;
}
._text{
    justify-content: left;
    text-align: left;
    padding: 10px 100px;
}
.main form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid #9c9c9c;
  border-radius: 10px;
  width: 750px;
  padding: 25px;
  background: #fff;
}
.logo{
  width: 100px;
  padding: 5px 0;
  margin: 0 0 0 -15px;
}
.head{
  padding-left: 10px;
}
.top-page img{
	position: absolute;
	z-index: -1;
}
.head h3{
  margin: 0;
  font-size: 23px;
  font-family: FocusGrotesk;
  position: relative;
  letter-spacing: 1px;
}
.main input{
  outline: none;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
  padding: 0 10px;
  height: 35px;
  font-size: 15px;
}
.main input:focus{
  border: 1.5px solid #1f52f9;
}
.name{
  display: inline-block;
}
.main input[type="name"]{
  display: block;
  margin: 30px 0 0 10px;
}
.main input[type="username"]{
  display: block;
  width: 390px;
  margin: 10px 0 0 10px;
}
.gmail{
  position: relative;
  display: block;
  top: -47px;
  left: 330px;
  font-family:Rubik;
  color: #333;
  font-size: 15px;
  cursor: default;
}
.pass{
  display: inline-block;
}
.password{
  display: block;
  width: 140px;
  margin: 0 5px 0 10px;
}
.main label{
  position: relative;
  font-family:Rubik;
  color: #555;
  font-size: 15px;
  pointer-events: none;
  left: 20px;
  top: -28px;
  transition: .2s all;
}
.main input:focus ~label,
.main input:valid ~ label{
  top: -49px;
  left: 15px;
  background: #fff;
  padding: 0 5px;
  font-size: 10px;
  color: #1f52f9;
}
a{
  position: relative;
  font-family: Rubik;
  text-decoration: none;
  display: block;
}
.line1{
  font-size: 12px;
  margin: -30px 0 10 15px;
}
.line2{
  color: #1144ed;
  font-size: 15px;
  margin: 20px 0 20px 15px;
}
.line3{
  font-size: 12px;
  margin: -10px 0 0 15px;
  width: 310px;
}
.line4{
  font-size: 15px;
  margin: 20px 8px;
  color: #4971f6;
  display: inline-block;
  font-family: Rubik;
}
.main input[type="submit"]{
  background:  #4971f6;
  color: #fff;
  border: none;
  padding:10px 30px;
  border-radius: 5px;
  margin:  40px 0 30px 180px;
  cursor: pointer;
  font-size: 15px;
}
.main input[type="submit"]:hover{
  background: #254fdb;
}
.iconeye{
  display: inline-block;
}
#eye{
  display: block;
  position: relative;
  top: -18px;
  width:27px;
  cursor: pointer;
}
.side-logo{
  width: 230px;
}