
header{
    overflow: hidden;
    min-height: 100vh;
    top: 0;
    left: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 10000000;
    background-image: url(PNG/bg_.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;

}

.navbar-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.295);
    position: relative;
    top: 0;
    height: 80px;
    width: 90%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.541);
    align-self: center;
    justify-content: space-around ;
    align-items: center;
    padding: 25px 80px;
    box-shadow:  0 0 25px #000;
    transition: 0.6s;
    z-index: 100000;

}
.con-logo{
    position: relative;
    text-decoration: none;
    list-style: none;
    transition: 0.6s;
    display: flex;
}
.con-logo #title{
    text-decoration: none;
    color: #09A03A;
    margin: 3px;
    margin-top: 5px;
    font-size: 30px;
}
.logo img {
    width: 50px;
    height: 50px;
}
nav ul{
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav  ul li{
    position:relative;
    list-style: none;
    
}

nav  ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.8s;
    text-align: center;
}


nav  ul li a:hover{
    color: #000;
    text-decoration: none;
    transition: none;

}
.btns{
    margin-left: 50px;
    top: 0px;
    right: 2%;
    display: flex;
    padding: 0px 0px;
}
.btns li a{
    padding: 3px 7px;
}
.btns li{
    list-style: none;
}
.btn-sign_in a{ 
    text-decoration: none;
    color: #09A03A;
    width: 130px;
    border: solid 1px #09A03A ;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    border: solid(linear-gradient(0deg, #94C121 0%,#94C121 37%, #09A03A 100%) 2px) ;
}
.btn-sign_in :hover{
    border: solid 1px  ;
    color: #fff;
    background:cadetblue;
}
.btn-suscribe a{
    margin-left: 10px;
    width: 150px;
    background:linear-gradient(90deg, #94C121 0%,#94C121 37%, #09A03A 100%); ;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
}
.btn-suscribe :hover{
    background:cadetblue;
    transition: 0.6s;
}
.fixed {
    height: 80px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(61, 61, 61);
    text-align: right;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.918);
    padding: 36px 13px 2px;
    padding-bottom: 2px;
    margin-top:auto;
    
}
.search-bar .search_txt{
    border: none;
    outline: none;
    background: none;
    color: white;
    transition: 0.4s;
    width: 100px;
}
.search-bar{
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    position: absolute;
    top: 36%;
    left: 65%;
    top: 25%;
}
.fixed .search-bar{     
    height: 40px;
    position: absolute;
    border-radius: 40px;
    padding: 0px;
    margin-left: -79px;
    left: 80%;
    top: 36%;

}
.search_btn{
    color: #09A03A;
    float: right;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    align-items:center;
}

.fixed ul{
    margin-top: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.fixed ul li {
    height: 36px;
}
.fixed .navbar__link {
    font-size: 14px;
}
.fixed ul li a{
    color: #000;
    border:none;
    border-radius: 15px;
    width: 200px;
    padding: 5px;

}


.fixed .con-logo{
    position: absolute;
    bottom: 5px;
    left: 50px;
    color: #000;
}

.fixed #title{
    margin: 4px 14px 14px;
}

.fixed .btns{
    position: absolute;
    margin-top: 0px;
    display: flex;
    right: 2%;
    top: 28px;
}

.fixed  .navbar__link:hover{
    background-color: #ffff;
    color:#094b;
    transition: none;
}
#active_page{
    
    color: #09A03A;
}
.fixed #active_page{
    color: #09A03A;
    background-color: #ffff;
}

.btn-suscribe  a{
    text-decoration: none;
    color: #fff;
}